@font-face {
  font-weight: 300;
  font-family: "Pretendard-Light";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff") format("woff");
}

@font-face {
  font-weight: 400;
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
}

@font-face {
  font-weight: 500;
  font-family: "Pretendard-Medium";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff") format("woff");
}

@font-face {
  font-weight: 600;
  font-family: "Pretendard-SemiBold";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff") format("woff");
}

@font-face {
  font-weight: 700;
  font-family: "Pretendard-Bold";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff") format("woff");
}

@font-face {
  font-weight: 800;
  font-family: "Pretendard-ExtraBold";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff") format("woff");
}

ol,
ul,
li {
  list-style: none;
  display: inline-block;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

/*헤더*/
header {
  position: fixed;
  left: 0;
  top: 0;
  background-color: #fff;
  /* backdrop-filter: blur(10px); */

  width: 100%;
  height: 85px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  z-index: 99999;
}

header nav {
  padding-right: 10rem;
}

header li a {
  font-family: "Pretendard-Medium";
  font-size: 1.15rem;

  margin: 0 2.5rem;

  transition: all 0.2s ease-in-out;
  cursor: pointer;
  position: relative;
  padding: 0 10px;
}

header li a:after {
  content: "";
  position: absolute;
  background-color: #ff9a23;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}

header li a:hover:after {
  width: 100%;
}

header li a:hover {
  color: #ff9a23;
}

header li a.active {
  color: #ff9a23;
}

header li a.active::after {
  content: "";
  position: absolute;
  background-color: #ff9a23;
  height: 3px;
  width: 100%;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}

header .SignInBtn {
  font-family: "Pretendard-Regular";
  font-size: 1.1rem;
  letter-spacing: 0.5px;

  width: 120px;
  height: 45px;

  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);

  border: none;
  border-radius: 15px;
  box-shadow: 0 0 8px 0px rgba(255, 154, 35, 0.25);

  margin-right: 3.25rem;

  color: #ff9a23;
}

/*로고*/
.Logo {
  margin-left: 4.25rem;
}

.Logo .lo02 {
  width: 4.75rem;
  height: auto;
}

/*푸터*/
footer {
  position: relative;
  background-color: #1e1e1e;
  width: 100%;
  height: 70px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

footer .FooterBox {
  margin: 0 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

footer img {
  width: 2.25rem;
  height: auto;

  margin-right: 1rem;
  margin-left: 1rem;
}

footer .Made {
  font-family: "Pretendard-Medium";
  font-size: 0.9rem;
  line-height: 22px;
  color: #858585;
}

footer .SnsIconBox {
  margin-right: 2rem;
  display: flex;
}

footer i {
  font-size: 1.75rem;
  color: #858585;

  margin: 0.5rem;
  cursor: pointer;
}

.profile {
  color: #ff9a23;
  font-size: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  /* border: 1px solid lightgray; */
  box-shadow: 0 0 10px rgba(255, 154, 35, .3);

  margin-right: -22rem;
}