@font-face {
    font-weight: 300;
    font-family: 'Pretendard-Light';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff') format('woff');
}
@font-face {
    font-weight: 400;
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
}
@font-face {
    font-weight: 500;
    font-family: 'Pretendard-Medium';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff') format('woff');
}
@font-face {
    font-weight: 600;
    font-family: 'Pretendard-SemiBold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
}
@font-face {
    font-weight: 700;
    font-family: 'Pretendard-Bold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
}
@font-face {
    font-weight: 800;
    font-family: 'Pretendard-ExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff') format('woff');
}
* {
    box-sizing: border-box;
}
body, main, div {
    margin: 0;
    padding: 0;
}
ol, ul, li {
		list-style: none;
    display: inline-block;
    padding: 0;
    margin:0;
}
a {
    text-decoration: none;
    color: inherit;
}
html {
    margin:0;
    padding:0;
    font-size : 16px;
}
section {
		width: 35rem;
		margin: 0 auto;
}

.logo {
    font-size: 30px;
    text-align: center;
    margin: 80px 30px 30px 30px;
    font-family: 'Pretendard-ExtraBold';
}

.id, .password {
    border: 1px solid #E1E1E1;
    color: #858585;
    padding: 11px 11px 11px 15px;
    margin: 5px;
    border-radius: 7px;
    font-weight: lighter;
    font-size: 14px;
    width: 600px;
    height: 45px;
    font-family: 'Pretendard-Regular';
}

.login {
    display: flex;
    color: #858585;
    margin-left: 5px;
    font-family: 'Pretendard-Medium';
}

input:focus {
    outline: 1px solid #FF9A23;
}

.LoginText {
    font-size: 11px;
    margin-top: 2.5px;

    font-family: 'Pretendard-Regular';
    color: #858585;
}

.LoginBtn {
    border: 1px solid #FF9A23;
    background-color: #FF9A23;
    color: white;
    border-radius: 7px;
    padding: 10px;
    margin: 7px 10px 10px 10px;
    font-weight: bolder;
    text-align: center;
    width: 600px;
    height: 45px;
    font-family: 'Pretendard-Regular';
}

.text {
    margin-left: 235px;
    display: flex;
    color: #878787;
    font-size: 12px;
    font-family: 'Pretendard-Regular';
}

.join {
    color: #FF9A23;
}

.length {
    border: 1px solid #cecece;
    width: 1px;
    height: 17px;
}

.line {
    display: flex;
    margin-top: 10px;
}

.line1, .line2 {
    border: 1px solid #878787;
    height: 1px;
    width: 1000px;
    margin: 8px;
}

.or {
    color: #878787;
    font-family: 'Pretendard-Regular';
    font-size: 13px;
}

.google {
    border: 1px solid #858585;
    color: #858585;
    padding: 9px;
    margin: 7px;
    border-radius: 7px;
    font-size: 13px;
    width: 600px;
    height: 45px;
    background-color: white;
    font-family: 'Pretendard-Regular';
}

.naver {
    border: 1px solid #03C75A;
    color: #858585;
    padding: 10px;
    margin: 7px;
    border-radius: 7px;
    font-size: 13px;
    width: 600px;
    height: 45px;
    background-color: white;
    font-family: 'Pretendard-Regular';
}

.kakao {
    border: 1px solid #FFD231;
    color: #858585;
    padding: 10px;
    margin: 7px;
    border-radius: 7px;
    font-size: 13px;
    width: 600px;
    height: 45px;
    background-color: white;
    font-family: 'Pretendard-Regular';
}

.GoogleLogo {
    width: 17px;
    height: 17px;
    position: absolute;
    left: 400px;
}

.NaverLogo {
    width: 16px;
    height: 17px;
    position: absolute;
    left: 400px;
}

.KakaoLogo {
    width: 19px;
    height: 18px;
    position: absolute;
    left: 400px;
}