@font-face {
    font-weight: 300;
    font-family: 'Pretendard-Light';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff') format('woff');
}
@font-face {
    font-weight: 400;
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
}
@font-face {
    font-weight: 500;
    font-family: 'Pretendard-Medium';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff') format('woff');
}
@font-face {
    font-weight: 600;
    font-family: 'Pretendard-SemiBold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
}
@font-face {
    font-weight: 700;
    font-family: 'Pretendard-Bold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
}
@font-face {
    font-weight: 800;
    font-family: 'Pretendard-ExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff') format('woff');
}
* {
    box-sizing: border-box;
}
body, main, div {
    margin: 0;
    padding: 0;
}
ol, ul,li {
		list-style: none;
    display: inline-block;
    padding: 0;
    margin:0;
}
a {
    text-decoration: none;
    color: inherit;
}
html {
    margin:0;
    padding:0;
    font-size : 16px;
}
section {
		width: 35rem;
		margin-left: 36rem;
}

.logo {
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
    margin: 100px 30px 30px 200px;
    font-family: 'Pretendard-ExtraBold';
    padding-top: 20px;
    padding-bottom: 20px;
}

input:focus {
    outline: 1px solid #FF9A23;
}

.id, .number {
    border: 1px solid #E1E1E1;
    color: #858585;
    padding: 13px;
    margin: 6px;
    border-radius: 7px;
    font-weight: lighter;
    font-size: 17px;
    width: 660px;
    height: 53px;
    font-family: 'Pretendard-Regular';
}

.password, .password2, .name, .PhoneNumber {
    border: 1px solid #E1E1E1;
    color: #858585;
    padding: 13px;
    margin: 6px;
    border-radius: 7px;
    font-weight: lighter;
    font-size: 17px;
    width: 730px;
    height: 53px;
    font-family: 'Pretendard-Regular';
}

.join {
    border: none;
    background: linear-gradient(to right, #FFEA8D, #FFBD6C);
    color: white;
    font-weight: bolder;
    text-align: center;
    padding: 12px;
    margin: 20px 8px 8px 8px;
    border-radius: 7px;
    font-size: 18px;
    width: 730px;
    height: 60px;
    font-family: 'Pretendard-Regular';
    cursor: pointer;
}

.check, .msg, .NumberCheck {
    border: 1px solid #FFBD6C;
    border-radius: 7px;
    background-color: #FFBD6C;
    color: white;
    width: 60px;
    height: 53px;
    font-size: 12px;
    text-align: center;
    margin-top: 6px;
    font-family: 'Pretendard-Regular';
    cursor: pointer;
}

.IdBox, .PhoneBox, .NumberBox {
    width: fit-content;
    display: flex;
}

main {
    width: 100%;
    min-height: calc(100vh - 150px);
}
html,body {
    width: 100%;
}

::-webkit-scrollbar {
    display: none;
}