@font-face {
    font-weight: 300;
    font-family: 'Pretendard-Light';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff') format('woff');
}
@font-face {
    font-weight: 400;
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
}
@font-face {
    font-weight: 500;
    font-family: 'Pretendard-Medium';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff') format('woff');
}
@font-face {
    font-weight: 600;
    font-family: 'Pretendard-SemiBold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
}
@font-face {
    font-weight: 700;
    font-family: 'Pretendard-Bold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
}
@font-face {
    font-weight: 800;
    font-family: 'Pretendard-ExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff') format('woff');
}
* {
    box-sizing: border-box;
}
body, main, div {
    margin: 0;
    padding: 0;
}
ol, ul,li {
		list-style: none;
    display: inline-block;
    padding: 0;
    margin:0;
}
a {
    text-decoration: none;
    color: inherit;
}
html {
    margin:0;
    padding:0;
    font-size : 16px;
}
section {
		width: 35rem;
		margin: 0 auto;
}

.logo {
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    margin: 80px 30px 30px 30px;
    font-family: 'Pretendard-ExtraBold';
}

input:focus {
    outline: 1px solid #FF9A23;
}

.id, .PhoneNumber, .number {
    border: 1px solid #E1E1E1;
    color: #858585;
    padding: 11px;
    margin: 6px;
    border-radius: 7px;
    font-weight: lighter;
    font-size: 14px;
    width: 470px;
    font-family: 'Pretendard-Regular';
}

.password, .password2, .name {
    border: 1px solid #E1E1E1;
    color: #858585;
    padding: 11px;
    margin: 6px;
    border-radius: 7px;
    font-weight: lighter;
    font-size: 14px;
    width: 540px;
    font-family: 'Pretendard-Regular';
}

.join {
    border: 1px solid #FF9A23;
    background-color: #FF9A23;
    color: white;
    font-weight: bolder;
    font-size: 15px;
    text-align: center;
    padding: 12px;
    margin: 20px 8px 8px 8px;
    border-radius: 7px;
    width: 540px;
    font-family: 'Pretendard-Regular';
}

.check, .msg, .NumberCheck {
    border: 1px solid #FF9A23;
    border-radius: 7px;
    background-color: #FF9A23;
    color: white;
    width: 65px;
    height: 40px;
    font-size: 11px;
    text-align: center;
    margin-top: 5px;
    font-family: 'Pretendard-Regular';
}

.IdBox, .PhoneBox, .NumberBox {
    display: flex;
    font-family: 'Pretendard-Regular';
}