@font-face {
    font-weight: 300;
    font-family: 'Pretendard-Light';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff') format('woff');
}
@font-face {
    font-weight: 400;
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
}
@font-face {
    font-weight: 500;
    font-family: 'Pretendard-Medium';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff') format('woff');
}
@font-face {
    font-weight: 600;
    font-family: 'Pretendard-SemiBold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
}
@font-face {
    font-weight: 700;
    font-family: 'Pretendard-Bold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
}
@font-face {
    font-weight: 800;
    font-family: 'Pretendard-ExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff') format('woff');
}
* {
    box-sizing: border-box;
}
body, main, div {
    margin: 0;
    padding: 0;
}
ol, ul,li {
	list-style: none;
    display: inline-block;
    padding: 0;
    margin:0;
}
a {
    text-decoration: none;
    color: inherit;
}
html {
    margin:0;
    padding:0;
    font-size : 16px;
}
main {
    display: block;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}
section {
    width: 75rem;
    margin: auto;

    margin-top: 5.5rem;
}
button {
    cursor: pointer;
}
body {
    overflow-x: hidden;
}


/*챕터제목*/
.ChapterTitle {
    font-family: 'Pretendard-Bold';
    font-size: 2rem;

    width: fit-content;
    margin: 1.5rem auto;
}

/*섹션*/
.StudyWrap {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    margin: 0 2rem;
}

/*수형영상*/
.StudyWrap .StudyVideo {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.StudyVideo .VideoTitle {
    font-family: 'Pretendard-SemiBold';
    font-size: 1.25rem;
    color: #FF9A23;

    margin-bottom: .825rem  ;
}

.StudyVideo .Video {
    width: 33rem;
    height: 22rem;

    border: 2px solid #FFBD6C;
    border-radius: 1rem;
}
/*일상대화*/
.StudyWrap .StudyInfoWrap {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-between;
}
.StudyInfoWrap .StudySentence {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}
.StudySentence .SentenceTitle {
    font-family: 'Pretendard-SemiBold';
    font-size: 1.25rem;
    color: #FF9A23;

    margin-bottom: .825rem;
}
.StudySentence .Sentence {
    width: 28rem;
    height: 3.5rem;

    border: 2px solid #FFBD6C;
    border-radius: .75rem;
    box-shadow: 0 0 5px 0px rgba(255, 154, 35,0.25);

    display: flex;
    justify-content: baseline;
    align-items: center;
}
.Sentence p {
    margin: 1.25rem;
    padding: 0;
    font-family: 'Pretendard-SemiBold';
    font-size: 1.5rem;
}
/*수형설명*/
.StudyInfoWrap .StudyInfo {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}
.StudyInfo .InfoTitle {
    font-family: 'Pretendard-SemiBold';
    font-size: 1.25rem;
    color: #FF9A23;

    margin-bottom: .825rem;
}
.StudyInfo .InfoBox {
    width: 28rem;
    height: fit-content;

    display: flex;
    flex-direction: column;
    align-items: baseline;
}
.InfoBox .InfoWord {
    font-family: 'Pretendard-SemiBold';
    font-size: 1.25rem;

    margin:0;
    padding:0;
}
.InfoBox .InfoMeaning {
    font-family: 'Pretendard-SemiBold';
    font-size: 1rem;
    color: #505050;

    margin:.3rem 0;
    padding-left: .5rem;
    margin-bottom: 1rem;
    text-align: start;
}

/*연습하기 버튼*/
section .PracticeBtn {
    width: 124px;
    height: 44px;
    position: relative;

    display: inline-block;
    background: linear-gradient(to right, #FFEA8D, #FFBD6D);

    border: none;
    border-radius: 10px;

    margin-top: 1rem;
    float: right;

    font-family: 'Pretendard-SemiBold';
    font-size: 1.05rem;
    color: #fff;
}
section .PracticeBtn:after {
    opacity: 0;
    content: "연습하기";
    position: absolute;
    left:0;right: 0;top:0;bottom:0;
    width: 124px;
    height: 44px;
    background: linear-gradient(to right, #ffeea0, #ffc986);

    transition: all .2s ease-in-out;

    border: none;
    border-radius: 10px;

    font-family: 'Pretendard-SemiBold';
    font-size: 1.05rem;
    color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 0 0 5px 0px rgba(255, 154, 35,0.25);
}
.PracticeBtn:hover::after {
    opacity: 1;
}