@font-face {
    font-weight: 300;
    font-family: 'Pretendard-Light';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff') format('woff');
}
@font-face {
    font-weight: 400;
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
}
@font-face {
    font-weight: 500;
    font-family: 'Pretendard-Medium';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff') format('woff');
}
@font-face {
    font-weight: 600;
    font-family: 'Pretendard-SemiBold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
}
@font-face {
    font-weight: 700;
    font-family: 'Pretendard-Bold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
}
@font-face {
    font-weight: 800;
    font-family: 'Pretendard-ExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff') format('woff');
}
* {
    box-sizing: border-box;
}
body, main, div {
    margin: 0;
    padding: 0;
}
ol, ul,li {
		list-style: none;
    display: inline-block;
    padding: 0;
    margin:0;
}
a {
    text-decoration: none;
    color: inherit;
}
html {
    margin:0;
    padding:0;
    font-size : 16px;
}
section {
		width: 70rem;
		margin: 0 auto;
}

.gory {
    text-align: center;
    margin-top: 90px;
}

.category {
    width: 150px;
    height: 50px;
    margin: 7px;
    background: linear-gradient(to right, #FFEA8D, #FFBD6C);
    border: 0px;
    color: white;
    font-size: 15px;
}

.search {
    width: 660px;
    height: 52px;
    padding: 1px;
    border: 1px solid transparent;
    background-image: linear-gradient(white, white), linear-gradient(to right, #FFEA8D, #FFBD6C);
    background-origin: border-box;
    background-clip: content-box, border-box;
    color: #E1E1E1;
    border-radius: 10px;
    font-size: 15px;
}

.section, .section1 {
    display: flex;
    margin-top: 7px;
}

.box1, .box2, .box3, .box4, .box5, .box6, .box7, .box8, .box9, .box10, .box11, .box12, .box13, .box14, .box15, .box16, .box17, .box18, .box19 {
    box-shadow: 1px 1px 4px #e1e1e1;
    border-radius: 15px;
    width: 170px;
    height: 165px;
    margin-right: 17px;
}

.title, .box1, .box3, .box15 {
    margin-left: 150px;
}

.title {
    margin-top: 40px;
    font-weight: bolder;
    font-size: 17px;
}

.img {
    border-radius: 15px 15px 0px 0px;
    width: 170px;
    height: 60px;
}

.difficulty {
    border: 1.5px solid white;
    border-radius: 50px;
    font-size: 10px;
    font-weight: 550;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    width: 55px;
    position: absolute;
    margin-left: 7px;
    margin-top: 6px;
}

.sub {
    font-weight: bolder;
    margin-top: 5px;
    margin-left: 12px;
}

.ing {
    display: flex;
    font-size: 13px;
    margin-top: 13px;
}

.ing2 {
    display: flex;
    font-size: 13px;
    margin-top: 35px;
}

.count {
    margin-left: 12px;
    margin-right: 75px;
}

.bar {
    border-radius: 20px;
    width: 150px;
    height: 7px;
    margin-top: 5px;
    margin-left: 10px;
    background-color: #d9d9d9;
}

.category1 {
    margin-bottom: 50px;
}

.left {
    position: absolute;
    margin-top: 70px;
    margin-left: 140px;
    width: 40px;
    height: 40px;
    border: 0px;
    border-radius: 100%;
    color: white;
    background-color: #858585b3;
    font-size: 20px;
}
  

.right {
    position: absolute;
    margin-top: 70px;
    margin-left: 1100px;
    width: 40px;
    height: 40px;
    border: 0px;
    border-radius: 100%;
    color: white;
    background-color: #858585b3;
    font-size: 20px;
}

/* box8, box9, ...에 대한 초기 투명도를 설정합니다 */
.box13, .box14, .btn {
    opacity: 0;
}

.btn {
    position: absolute;
    z-index: 10;
}


/* section1 요소에 hover 할 때에만 box13, box14, 그리고 btn을 보여줍니다 */
.section1:hover .box13, .section1:hover .box14, .section1:hover .btn {
    display: block;
    opacity: 1; /* 초기 투명도를 0으로 설정합니다 */
    transition: opacity 0.3s ease; /* 투명도에 부드러운 트랜지션을 추가합니다 */
}

/* box8의 위치를 고정합니다 */
.box8 {
    position: absolute;
    left: 195px; /* 이 값을 원하는 위치로 조정하세요 */
}

.box9 {
    position: absolute;
    left: 382px; /* 이 값을 원하는 위치로 조정하세요 */
}

.box10 {
    position: absolute;
    left: 569px; /* 이 값을 원하는 위치로 조정하세요 */
}

.box11 {
    position: absolute;
    left: 756px; /* 이 값을 원하는 위치로 조정하세요 */
}

.box12 {
    position: absolute;
    left: 943px; /* 이 값을 원하는 위치로 조정하세요 */
}

.box13 {
    position: absolute;
    left: 8px;
}

.box14 {
    position: absolute;
    left: 1130px; /* 이 값을 원하는 위치로 조정하세요 */
}

.section1 {
    position: absolute;
    left: 7.5px;
    transition: left 0.7s ease;
}

.daily {
    margin-top: 215px;
}