@font-face {
    font-weight: 300;
    font-family: 'Pretendard-Light';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff') format('woff');
}
@font-face {
    font-weight: 400;
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
}
@font-face {
    font-weight: 500;
    font-family: 'Pretendard-Medium';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff') format('woff');
}
@font-face {
    font-weight: 600;
    font-family: 'Pretendard-SemiBold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
}
@font-face {
    font-weight: 700;
    font-family: 'Pretendard-Bold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
}
@font-face {
    font-weight: 800;
    font-family: 'Pretendard-ExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff') format('woff');
}
* {
    box-sizing: border-box;
}
body, main, div {
    margin: 0;
    padding: 0;
}

ol, ul, li {
	list-style: none;
    display: inline-block;
    padding: 0;
    margin:0;
}
a {
    text-decoration: none;
    color: inherit;
}
html {
    margin:0;
    padding:0;
    font-size : 16px;
}
section {
		width: 70rem;
		margin: 0 auto;
}

li {
    list-style: none;
}

main {
    width: 100%;
    min-height: calc(100vh - 150px);
}

html, body {
    width: 100%;
}

.gory {
    text-align: center;
    margin: 40px;
    margin-top: -25px;
}

.category {
    font-family: 'Pretendard-SemiBold';
    width: 150px;
    height: 50px;
    padding-top: 16px;
    position: relative;
    top: 51px;
    left: 115px;
    background: linear-gradient(to right, #FFEA8D, #FFBD6C);
    border: 0px;
    color: white;
    font-size: 15px;
    z-index: 4;
    cursor: pointer;
}

.SearchBtn {
    position: relative;
    left: 330px;
    top: -37px;
    cursor: pointer;
    color: #bababa;
}

.SearchBtn:hover{
    color: #FF9A23;
}

.list {
    color: #bababa;
    background-color: #fafafa;
    font-size: 15px;
    font-family: 'Pretendard-Regular';
    transition: 0.5s;
    width: 150px;
    height: 247px;
    position: relative;
    top: -300px;
    left: 155px;
    transition: 0.7s;
    z-index: 2;
    cursor: pointer;
}

.WhiteBox {
    position: relative;
    margin-top: -50px;
    top: 52px;
    left: 115px;
    width: 170px;
    height: 100px;
    border: 1px solid white;
    background-color: white;
    z-index: 3;
}

.person, .eat, .area, .nature, .base {
    margin-left: 13px;
}

.search {
    width: 600px;
    height: 52px;
    padding: 15px;
    border: 1px solid #FF9A23;
    position: relative;
    left: 60px;
    border-radius: 10px;
    font-size: 15px;
    font-family: 'Pretendard-Medium';
}

input:focus {
    outline: 1px solid #FF9A23;
}

::-webkit-scrollbar {
    display: none;
}

.lectureSection {
    height: 47rem;
    display: block;
    margin-top: -260px; margin-left: 330px; margin-bottom: 50px;
}

.lecturesList {
    position: relative;
    display: block;
    width: 58rem;
    height: 16rem;
    margin: 0px 150px 0px 150px;
    overflow: hidden;
}

.title {
    font-family: 'Pretendard-Bold';
    font-size: 21px;
    margin-bottom: 10px;
}

.lectures {
    display: flex;
    transition: 1s;
}

.lecture {
    box-shadow: 1px 1px 4px #e1e1e1;
    border-radius: 15px;
    width: 170px;
    height: 165px;
    margin-right: 17px;
    cursor: pointer;
    transition: 0.7s;
}

.lectureImg {
    background-size: cover;
    border-radius: 15px 15px 0px 0px;
    width: 170px;
    height: 60px;
}

.lectureName {
    margin-left: 12px; margin-top: 5px;
    font-size: 17px;
    font-family: 'Pretendard-Bold';
}

.lengthWithPercent {
    display: flex;
}

.maxLength, .percent {
    font-size: 13px;
    margin-top: 20px;
    font-family: 'Pretendard-Regular';
}

.maxLength {
    margin-left: 12px;
    margin-right: 80px;
}

.processing {
    border-radius: 20px;
    width: 150px;
    height: 7px;
    margin-top: 5px;
    margin-left: 10px;
    background-color: #d9d9d9;
}

.difficulty {
    border: 1.5px solid white;
    border-radius: 50px;
    font-size: 10px;
    font-weight: 550;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    width: 55px;
    position: absolute;
    margin-left: 7px;
    margin-top: 6px;
    font-family: 'Pretendard-Regular';
}

.left {
    position: relative;

    width: 40px;
    height: 40px;

    border: none;
    border-radius: 100%;

    color: white;
    background-color: #dbdbdb;

    font-size: 17px;

    left: calc(100% + 50px); left: 80px;
    top: -150px;

    cursor: pointer;
}
  

.right {
    position: relative;

    width: 40px;
    height: 40px;

    border: none;
    border-radius: 100%;

    color: white;
    background-color: #dbdbdb;

    font-size: 17px;
    left: 1050px;
    top: -150px;

    cursor: pointer;
}

/* lecturesList에 overflow: hidden; 처리해서 다음 강의들을 숨김
   -> 그래서 lecturesList:hover .left랑 .right를 하면
      left랑 right도 같이 사라짐.. ㅜㅜ  */

/* 수어 왕초보 아래에 의문의 여백이 생김..
   버튼 넣은 이후로 생겼는데 어떻게 없애야 하는지.. 모르겠습니다.. */

/* title이 2줄일 경우로 위치가 맞춰져 있어서 1줄이면 애매함..
   근데 1줄일 때에 맞추면 2줄일 때 lecture 밖으로 나감.. */