@font-face {
    font-weight: 300;
    font-family: 'Pretendard-Light';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff') format('woff');
}
@font-face {
    font-weight: 400;
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
}
@font-face {
    font-weight: 500;
    font-family: 'Pretendard-Medium';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff') format('woff');
}
@font-face {
    font-weight: 600;
    font-family: 'Pretendard-SemiBold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
}
@font-face {
    font-weight: 700;
    font-family: 'Pretendard-Bold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
}
@font-face {
    font-weight: 800;
    font-family: 'Pretendard-ExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff') format('woff');
}
* {
    box-sizing: border-box;
}
body, main, div {
    margin: 0;
    padding: 0;
}

ol, ul, li {
	list-style: none;
    display: inline-block;
    padding: 0;
    margin:0;
}
a {
    text-decoration: none;
    color: inherit;
}
html {
    margin:0;
    padding:0;
    font-size : 16px;
}
section {
		width: 70rem;
		margin: 0 auto;
}

li {
    list-style: none;
}


.gory {
    text-align: center;
    margin: 40px;
}

.category {
    font-family: 'Pretendard-SemiBold';
    width: 150px;
    height: 50px;
    padding-top: 15px;
    position: relative;
    top: 51px;
    left: 115px;
    background: linear-gradient(to right, #FFEA8D, #FFBD6C);
    border: 0px;
    color: white;
    font-size: 15px;
    z-index: 3;
}

.list {
    color: #bababa;
    background-color: #fafafa;
    font-size: 15px;
    font-family: 'Pretendard-Regular';
    transition: 1s;
    width: 150px;
    height: 236px;
    position: absolute;
    left: 200px;
    top: -100px;
    transition: 0.7s;
    z-index: 1;
}

.WhiteBox {
    position: absolute;
    top: -5px;
    left: 200px;
    width: 150px;
    height: 130px;
    border: 1px solid white;
    background-color: white;
    z-index: 2;
}

.person, .eat, .area, .nature, .base {
    margin-left: 13px;
}

.society {
    margin-left: 10px;
}

.culture{
    margin-left: 7px;
}

.search {
    width: 600px;
    height: 52px;
    padding: 0;
    position: relative;
    left: 60px;
    font-size: 15px;
    font-family: 'Pretendard-Medium';
  
    border-radius: 10px; /* 라운딩 반경 설정 */
    overflow: hidden; /* 내부를 라운딩 처리 */

    border: none;
    padding: 15px;
  
    /* 그라데이션 테두리를 box-shadow를 사용하여 시뮬레이트 */
    box-shadow: 0 0 0 1px #FFBD6C inset, 0 0 0 1px #FFEA8D inset;
}

.section, .section1 {
    position: relative;
    display: flex;
    margin-top: 7px;
}

.box1, .box2, .box3, .box4, .box5, .box6, .box7, .box8, .box9, .box10, .box11, .box12, .box13, .box14, .box15, .box16, .box17, .box18, .box19 {
    box-shadow: 1px 1px 4px #e1e1e1;
    border-radius: 15px;
    width: 170px;
    height: 165px;
    margin-right: 17px;
}

.title, .box1, .box3, .box15 {
    margin-left: 150px;
}

.title {
    margin-top: 40px;
    font-size: 17px;
    font-family: 'Pretendard-Bold';
}

.img {
    border-radius: 15px 15px 0px 0px;
    width: 170px;
    height: 60px;
}

.difficulty {
    border: 1.5px solid white;
    border-radius: 50px;
    font-size: 10px;
    font-weight: 550;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    width: 55px;
    position: absolute;
    margin-left: 7px;
    margin-top: 6px;
    font-family: 'Pretendard-Regular';
}

.sub {
    font-weight: bolder;
    margin-top: 5px;
    padding-left: 12px;
    padding-right: 12px;
    font-family: 'Pretendard-Bold';
}

.ing {
    display: flex;
    font-size: 13px;
    margin-top: 13px;
    font-family: 'Pretendard-Regular';
}

.ing2 {
    display: flex;
    font-size: 13px;
    margin-top: 35px;
    font-family: 'Pretendard-Regular';
}

.count {
    margin-left: 12px;
    margin-right: 80px;
}

input:focus {
    outline: 1px solid #FF9A23;
}

.bar {
    border-radius: 20px;
    width: 150px;
    height: 7px;
    margin-top: 5px;
    margin-left: 10px;
    background-color: #d9d9d9;
}

.bar2 {
    z-index: 1;
    border-radius: 20px;
    width: 105px;
    height: 7px;
    margin-top: -7px;
    margin-left: 10px;
    background-color: #858585;
}

.bar3 {
    z-index: 1;
    border-radius: 20px;
    width: 80px;
    height: 7px;
    margin-top: -7px;
    margin-left: 10px;
    background-color: #858585;
}

.category1 {
    margin-bottom: 50px;
}

.box8 {
    position: absolute;
    left: 0px; /* 이 값을 원하는 위치로 조정하세요 */
}

.box9 {
    position: absolute;
    left: 187px; /* 이 값을 원하는 위치로 조정하세요 */
}

.box10 {
    position: absolute;
    left: 374px; /* 이 값을 원하는 위치로 조정하세요 */
}

.box11 {
    position: absolute;
    left: 561px; /* 이 값을 원하는 위치로 조정하세요 */
}

.box12 {
    position: absolute;
    left: 748px; /* 이 값을 원하는 위치로 조정하세요 */
}

.box13 {
    position: absolute;
    left: -187px;
}

.box14 {
    position: absolute;
    left: 935px; /* 이 값을 원하는 위치로 조정하세요 */
}

.king {
    position: relative;
}

.section1 {
    position: relative;
    width: 930px;
    height: 170px;
    margin-left: 150px;
    overflow: hidden;
}

.left {
    position: absolute;
    width: 40px;
    height: 40px;
    border: 0px;
    border-radius: 100%;
    color: white;
    background-color: #dbdbdb;
    font-size: 17px;
    left: calc(100% + 50px);
    left: 90px;
}
  

.right {
    position: absolute;
    width: 40px;
    height: 40px;
    border: 0px;
    border-radius: 100%;
    color: white;
    background-color: #dbdbdb;
    font-size: 17px;
    left: 1090px;
}

.btn {
    position: absolute;
    top: 45%;
    z-index: 1;
    transform: translateY(-50%);
    opacity: 0;
}

.box8, .box9, .box10, .box11, .box12, .box13, .box14 {
    transition: 0.7s; /* 왼쪽 버튼 클릭 시 부드럽게 이동하는 효과 추가 */
}

.king:hover .btn {
    opacity: 1;
    transition: 0.5s ease;
}

.Sc2 {
    padding-bottom: 4rem;
}
.Sc1 {
    padding-top: 2rem;
}
::-webkit-scrollbar {
    display: none;
}