@font-face {
    font-weight: 300;
    font-family: 'Pretendard-Light';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff') format('woff');
}
@font-face {
    font-weight: 400;
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
}
@font-face {
    font-weight: 500;
    font-family: 'Pretendard-Medium';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff') format('woff');
}
@font-face {
    font-weight: 600;
    font-family: 'Pretendard-SemiBold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
}
@font-face {
    font-weight: 700;
    font-family: 'Pretendard-Bold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
}
@font-face {
    font-weight: 800;
    font-family: 'Pretendard-ExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff') format('woff');
}
* {
    box-sizing: border-box;
}
body, main, div {
    margin: 0;
    padding: 0;
}
ol, ul,li {
	list-style: none;
    display: inline-block;
    padding: 0;
    margin:0;
}
a {
    text-decoration: none;
    color: inherit;
}
html {
    margin:0;
    padding:0;
    font-size : 16px;
}
main {
    display: block;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}
section {
    width: 75rem;
    margin: auto;

    margin-top: 5.5rem;
}
button {
    cursor: pointer;
}
body {
    overflow-x: hidden;
}


/*챕터제목*/
.ChapterExplain {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 2rem;
    margin-left: 4.5rem; 
}

.ChapterExplain.ChapterTitle{
    display: flex;
    flex-direction: column;
    /* align-items: baseline; */
}




/*한국어 섹션*/
.KoreanWrap {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    margin: 0 2rem;
}


.KoreanWrap .KoreanInput { /*번역 할 내용 입력 */
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.KoreanInput {
    font-family: 'Pretendard-SemiBold';
    font-size: 1.25rem;
    color: #FF9A23;
    position: relative;
    margin-bottom: .825rem  ;
}

.KoreanInput {
    width: 33rem;
    height: 22rem;

    border: 2px solid #FFBD6C;
    border-radius: 1rem;
    position: relative;
}


.KoreanInput::after { /* 가운데에 수평선 추가 */
    content: "";
    position: absolute;
    left: 50%;
    top: 20%;
    width: 100%; 
    border-bottom: 1px solid #FFBD6C;
    transform: translateX(-50%) translateY(-50%); 
}

.KoreanInput .KoreanFlag {
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    background-color: #FF9A23; 
    position: absolute;
    left: 40%; 
    top: 10%; 
    transform: translate(-50%, -50%); 
}

.Korean {
    font-family: 'Pretendard-SemiBold';
    font-size: 1rem;
    color: #FF9A23;

    position: absolute;
    left: 50%; 
    top: 10%; 
    transform: translate(-50%, -50%); 
}


.KoreanFooter { /*글자 수 세주는거랑 번역하기 버튼*/
    position: absolute;
    bottom: 0; 
    left: 50%; 
    transform: translateX(-50%);
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    width: 100%; 
    padding: 0 1rem; 
}

.KoreanLetterNum {
    font-family: 'Pretendard-SemiBold';
    font-size: 1rem;
    color: #FF9A23;
}

.TranslationButton {
    background-color: #FF9A23;
    color: white;
    font-family: 'Pretendard-SemiBold';
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

textarea[name="TranslationContent"] {
    width: 32rem;
    height: 200px; 
    border: none;
    font-size: 20px;
    padding: 40px;
    resize: none;
    overflow-y: hidden; 
    outline: none;
    position: absolute;
    top:60px;
    font-family: 'Pretendard';
}





/*수어 섹션*/
.KoreanWrap .SignWrap {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-between;
}
.SignWrap .SignOutput {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}
.SignOutput {
    font-family: 'Pretendard-SemiBold';
    font-size: 1.25rem;
    color: #FF9A23;

    margin-bottom: .825rem;
}
.SignOutput {
    width: 33rem;
    height: 22rem;

    border: 2px solid #FFBD6C;
    border-radius: .75rem;
    box-shadow: 0 0 5px 0px rgba(255, 154, 35,0.25);

    display: flex;
    justify-content: baseline;
    align-items: center;
    position: relative;
}


.SignOutput::after { /*수평선*/
    content: "";
    position: absolute; 
    left: 50%;
    top: 20%;
    width: 100%;
    border-bottom: 1px solid #FFBD6C;
    transform: translateX(-50%) translateY(-50%);
}

.SignOutput::before {
    content: "";
    position: absolute;
    top: 20%; 
    left: 0;
    width: 100%;
    height: 80%; 
    background-color: #FFEBD3;
    z-index: -1; 
}

.SignOutput .SignFlag {
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    background-color: #FF9A23; 
    position: absolute;
    left: 40%; 
    top: 10%; 
    transform: translate(-50%, -50%); 
}

.Sign {
    font-family: 'Pretendard-SemiBold';
    font-size: 1rem;
    color: #FF9A23;

    position: absolute;
    left: 50%; 
    top: 10%; 
    transform: translate(-50%, -50%); 
}

.SignGif {
    position: absolute; 
    top: 150px; 
    left: 100px; 
  }

  .GIfButton {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #FF9A23;
    color: white;
    font-family: 'Pretendard-SemiBold';
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}