<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>핸디</title>
	<link rel="stylesheet" href="../static/css/game.css">
    <script src="https://kit.fontawesome.com/32afc995e9.js" crossorigin="anonymous"></script>
</head>
<body>
	<header>
	</header>
	<main>
		<section>
            <div class="GameWrap">
                <div class="CardWrap"></div>
                <div class="Profile"></div>
                <div class="Scoreboard"></div>
                <p class="CurrentScore">현재 점수</p>
                <p class="HighestScore">최고점수</p>
                <p class="CurrentScoreNum">0</p>
                <p class="HighestScoreNum">420</p>
                <div class="CardGroup">
                    <div class="FirstRowCards">
                        <img class="FirstCard" src="" />
                        <img class="FifthCard" src=""/>
                    </div>
                    <div class="SecondRowCards">
                        <img class="SecondCard" src=""/>
                        <img class="SixthCard" src="" />
                    </div>
                    <div class="ThirdRowCards">
                        <img class="ThirdCard" src=""/>
                        <img class="SeventhCard" src=""/>
                    </div>
                    <div class="FourthRowCards">
                        <img class="FourthCard" src=""/>
                        <img class="EighthCard" src=""/>
                    </div>
                </div>
                <div class="Nickname">맛있는 착한돼지</div>
                <img class="Userimage" src=""/>
                <div class="GameTitleWrap">
                    <p class="TitleCard">카드</p>
                    <p class="TitleFlip">뒤집기</p>
                </div>
                <div class="LevelWrap">
                    <div class="LevelBackground"></div>
                    <p class="LevelNum">Lv 1</p>
                </div>
                <div class="TimeWrap">
                    <div class="TimeBarBackground"></div>
                    <div class="TimeBar"></div>
                    <div class="RemainTime">48</div>
                </div>
                <button type="button" class="HomeButton">홈으로</button> 
            </div>
		</section>
	</main>
	<footer>
	</footer>
</body>
</html>