{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/header.css' %}" />
    <title>핸디</title>
  </head>
  <body>
    <header>
      <a class="Logo" href="/">
        <img class="lo02" src="{% static 'image/logo/logo2.svg' %}" />
      </a>
      <nav>
        <ol>
          <li><a href="/">홈</a></li>
          <li><a href="/translate/">번역하기</a></li>
          <li><a href="/lecture/">학습하기</a></li>
          <li><a href="/game/">게임하기</a></li>
          <li><a href="/contact/">Contact</a></li>
        </ol>
      </nav>
      {% if user.is_authenticated %}
      <a href="/accounts/logout"><button class="SignInBtn">LOGOUT</button></a>
      {% else %}
      <a href="/login"><button class="SignInBtn">SIGN IN</button></a>
      {% endif %}
    </header>

    <script type="text/javascript">
        const currentLocation = location.href;
        const menuItem = document.querySelector('ol').querySelectorAll('a');
        const menuLength = menuItem.length;
        for (let i =0; i < menuLength; i++){
            if (menuItem[i].href === currentLocation) {
                menuItem[i].className = "active";
            }
        }
    </script>
    {% block content %} {% endblock %}
    <footer>
      <div class="FooterBox">
        <img class="lo02" src="{% static 'image/logo/logo1.svg' %}" />
        <div class="Made">
          ⓒ 멋쟁이사자처럼 11기 at 경상국립대<br />
          백종화 이민재 변신우 신지아 강지희 김민지
        </div>
      </div>
      <div class="SnsIconBox">
        <a href="https://www.instagram.com/likelion_gnu/" target="_blank">
          <i class="fa-brands fa-instagram"></i>
        </a>
        <a href="https://www.facebook.com/likeliongnu/" target="_blank">
          <i class="fa-brands fa-facebook"></i>
        </a>
      </div>
    </footer>
  </body>
</html>
