{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'css/header.css' %}">
    <title>Document</title>
</head>
<body>
    <header>
        <a class="Logo" href="">
            <img class='lo02' src="{% static 'image/logo/logo2.svg' %}">
        </a>
        <nav>
            <ol>
                <li><a href="">홈</a></li>
                <li>번역하기</li>
                <li>학습하기</li>
                <li>게임하기</li>
                <li>Contact</li>
            </ol>
        </nav>
        <button class="SignUpBtn">SIGN UP</button>
    </header>
    {% block content %}
    {% endblock %}
</body>
</html>
