<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/LikeLion_Handi/static/css/test2.css" />
    <script
      src="https://kit.fontawesome.com/32afc995e9.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <header></header>
    <main>
      <section>
        <div class="logo">Handi</div>
        <div class="id"><i class="far fa-user"></i> 아이디를 입력하시오.</div>
        <div class="password">
          <i class="fas fa-lock"></i> 비밀번호를 입력하시오.
        </div>
        <div class="login">
          <div class="LoginBox"></div>
          <div class="LoginText">로그인 유지하기</div>
        </div>
        <div class="LoginBtn">로그인</div>
        <div class="text">
          <div class="join">회원가입</div>
          <div class="length"></div>
          <div class="search">아이디/비밀번호 찾기</div>
        </div>
      </section>
      <section>
        <div class="line">
          <div class="line1"></div>
          <div class="or">or</div>
          <div class="line2"></div>
        </div>
      </section>
      <section>
        <div class="google">구글 계정으로 로그인</div>
        <div class="naver">네이버 게정으로 로그인</div>
        <div class="kakao">카카오 계정으로 로그인</div>
      </section>
    </main>
    <footer></footer>
  </body>
</html>
