<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>핸디</title>
	<link rel="stylesheet" href="../static/css/mainStyle.css">
	<link rel="stylesheet" href="../static/css/header.css">
	<script src="https://unpkg.com/scrollreveal"></script>
    <script src="https://kit.fontawesome.com/32afc995e9.js" crossorigin="anonymous"></script>
	<script src="/static/js/main.js" defer></script>
</head>
<body>
	<header>
		<div class="Logo"></div>
		<nav>
			<ol>
				<li>홈</li>
				<li>번역하기</li>
				<li>학습하기</li>
				<li>게임하기</li>
				<li>Contact</li>
			</ol>
		</nav>
		<button class="SignUpBtn">SIGN UP</button>
	</header>
	<main>
		<section class="FirstSection">
			<div class="Circle1"></div>
			<div class="Circle2"></div>
			<div class="Circle3"></div>
			<div class="SectionWrap">
				<div class="TextWrap">
					<div class="SubText">
						손으로 쉽게 듣고 말하고 싶나요? <br>
						당신의 수어 학습을 도와드립니다.
					</div>
					<h1>
						핸디에서 시작하세요.
					</h1>
					<button class="TranslateBtn">번역 체험하기</button>
					<div class="StudyBtnBox">
						<button class="StudyBtn">수어 학습하기</button>
					</div>
				</div>
				<img class='MainImg' src="../static/image/main_illust.svg">
			</div>
			<i class="fa-solid fa-arrow-down" style="color: #ff9a23;"></i>
		</section>
		<section class="SecondSection">
			<div class="TextWrap">
				<h2>수어로 소통하는 새로운 경험을 느껴보세요!</h2>
				<div class="SubText">
					수어를 배우는 가장 쉬운 방법<br>
					실생활에서 자주 사용하는 수어로 문장단위 학습<br>
					학습과 번역의 연계로 수어 학습의 효과 극대화<br>
				</div>
			</div>
			<div class="ImgWrap">
				<div class="ImgBox">
					<p class="point">지화 알아보기</p>
					<img src="../static/image/main1.png">
				</div>
				<div class="ImgBox">
					<p class="point">생활 문장 학습하기</p>
					<img src="../static/image/main2.png">
				</div>
				<div class="ImgBox">
					<p class="point">생활 단어 학습하기</p>
					<img src="../static/image/main3.png">
				</div>
				<div class="ImgBox">
					<p class="point">퀴즈 풀어보기</p>
					<img src="../static/image/main4.png">
				</div>
				<div class="ImgBox">
					<p class="point">빈칸학습으로 복습하기</p>
					<img src="../static/image/main4.png">
				</div>
				<div class="ImgBox">
					<p class="point">게임으로 학습하기</p>
					<img src="../static/image/main5.png">
				</div>
				<!-- double -->
				<div class="ImgBox">
					<p class="point">지화 알아보기</p>
					<img src="../static/image/main1.png">
				</div>
				<div class="ImgBox">
					<p class="point">생활 문장 학습하기</p>
					<img src="../static/image/main2.png">
				</div>
				<div class="ImgBox">
					<p class="point">생활 단어 학습하기</p>
					<img src="../static/image/main3.png">
				</div>
				<div class="ImgBox">
					<p class="point">퀴즈 풀어보기</p>
					<img src="../static/image/main4.png">
				</div>
				<div class="ImgBox">
					<p class="point">빈칸학습으로 복습하기</p>
					<img src="../static/image/main4.png">
				</div>
				<div class="ImgBox">
					<p class="point">게임으로 학습하기</p>
					<img src="../static/image/main5.png">
				</div>
			</div>
		</section>
	</main>
	<footer>
	</footer>
</body>
</html>