{% extends 'header.html' %}
{% load static %}
{% block content %}

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>핸디</title>
    <link rel="stylesheet" href="{% static 'css/ranking.css' %}"
    <script src="https://kit.fontawesome.com/32afc995e9.js" crossorigin="anonymous"></script>
</head>
<body>
    <main>
        <div class="e680_2049">
            <div class="e680_2050"></div>
            <div class="BtnWrap">
              <div class="HomeBtn"></div>
              <!-- <span class="e681_2478">홈으로</span> -->
            </div>
            <div class="BoardWarp">
              <div class="FourToSevenWrap">
                <div class="FourWrap">
                  <div class="FourBackground"></div>
                  <span class="NumFour">4. </span
                  ><span class="FourUserName">USERNAME</span>
                  <div class="FourScoreWrap">
                    <div class="FourScoreBackground"></div>
                    <span class="NumFourScore">222222</span>
                  </div>
                </div>
                <div class="FiveWrap">
                  <div class="FiveBackground"></div>
                  <span class="NumFive">5.</span
                  ><span class="FiveUserName">USERNAME</span>
                  <div class="FiveScoreWrap">
                    <div class="FIveScoreBackground"></div>
                    <span class="NumFiveScore">222222</span>
                  </div>
                </div>
                <div class="SixWrap">
                  <div class="SixBackground"></div>
                  <span class="NumSix">6.</span
                  ><span class="SixUserName">USERNAME</span>
                  <div class="SixScoreWrap">
                    <div class="SixScoreBackground"></div>
                    <span class="NumSixScore">222222</span>
                  </div>
                </div>
                <div class="SevenWrap">
                  <div class="nothing">
                    <div class="SevenBackground"></div>
                    <div class="SevenScoreWrap">
                      <div class="SevenScoreBackground"></div>
                      <span class="NumSevenScore">222222</span>
                    </div>
                    <span class="NumSeven">7.</span
                    ><span class="SevenUserName">USERNAME</span>
                  </div>
                </div>
              </div>
              <div class="OneToThreeWrap">
                <div class="OneToThreeTextWrap">
                  <span class="OneST">1st</span><span class="TwoND">2nd</span
                  ><span class="ThreeRD">3rd</span>
                </div>
                <div class="ImageWrap">
                  <div class="OneImage"></div>
                  <div class="ThreeImage"></div>
                  <div class="TwoImage"></div>
                </div>
              </div>
              <div class="ReaderBoardWrap">
                <div class="ReaderBoardBackground"></div>
                <span class="ReaderBoardText">LEADERBOARD</span>
              </div>
            </div>
          </div>
    </main>
    <script>
    </script>
</body>
{% endblock %}
