{% extends 'header.html' %}
{% load static %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/text3.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <script src="https://kit.fontawesome.com/32afc995e9.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>
</head>
<body>
    <header>
        <div class="Logo"></div>
		<nav>
			<ol>
				<li>홈</li>
				<li>번역하기</li>
				<li>학습하기</li>
				<li>게임하기</li>
				<li>Contact</li>
			</ol>
		</nav>
		<button class="SignUpBtn">SIGN UP</button>
	</header>
	<main>
		<section>
            <div class="logo">Handi</div>
            <div class="IdBox">
                <input class="id" placeholder="아이디를 입력하시오." id="id" name="id" autocomplete="off">
                <button class="check" id="check" name="check" autocomplete="off">중복확인</div>
            </div>
            <div class="PasswordBox1">
                <input type="text" class="password" placeholder="비밀번호를 입력하시오." id="password" name="password" autocomplete="off">
            </div>
            <div class="PasswordBox2">
                <input type="text" class="password2" placeholder="비밀번호를 재확인하시오." id="password2" name="password2" autocomplete="off">
            </div>
            <input type="text" class="name" placeholder="이름을 입력하시오." id="name" name="name" autocomplete="off">
            <div class="PhoneBox">
                <input type="tel" class="PhoneNumber" placeholder="전화번호를 입력하시오." id="phoneNumber" name="phoneNumber" autocomplete="off">
                <button class="msg">인증하기</button>
            </div>
            <div class="NumberBox">
                <input type="text" class="number" placeholder="인증 번호를 입력하시오." id="number" name="number" autocomplete="off">
                <button class="NumberCheck">확인</button>
            </div>
		</section>
		<section>
            <button class="join" id="join" name="join" autocomplete="off">회원가입</button>
		</section>
	</main>
	<footer>
	</footer>
</body>
{% endblock %}
