<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>핸디</title>
    <link rel="stylesheet" href="../static/css/situationQuiz.css" />
    <link rel="stylesheet" href="../static/css/header.css" />
    <script
      src="https://kit.fontawesome.com/32afc995e9.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header>
      <div class="Logo"></div>
      <nav>
        <ol>
          <li>홈</li>
          <li>번역하기</li>
          <li>학습하기</li>
          <li>게임하기</li>
          <li>Contact</li>
        </ol>
      </nav>
      <button class="SignUpBtn">SIGN UP</button>
    </header>
    <main>
      <section>
        <h2 class="ChapterTitle">수어로 친구 사귀기 - 첫만남 편</h2>
        <div class="QuizWrap">
          <div class="StageBarWrap">
            <div class="StageBar active"></div>
            <div class="StageBar"></div>
            <div class="StageBar"></div>
          </div>
          <div class="QuizBox">
            <p class="QuizSentence">____. 만나서 반가워.</p>
          </div>
          <div class="SelectWrap">
            <div class="SelectNumber">
              <div class="Number">1</div>
              <div class="Number">2</div>
              <div class="Number">3</div>
            </div>
            <div class="SelectBox">
              <input type="radio" id="select" name="sentenceSelect" />
              <label for="select">
                <video></video>
              </label>
              <input type="radio" id="select" name="sentenceSelect" />
              <label for="select">
                <video></video>
              </label>
              <input type="radio" id="select" name="sentenceSelect" />
              <label for="select">
                <video></video>
              </label>
            </div>
          </div>
        </div>
        <div class="RetryBtnBox">
          <button class="RetryBtn">재학습 하기</button>
        </div>
        <div class="StopBtnBox">
          <button class="StopBtn">학습 종료</button>
        </div>
      </section>
    </main>
    <footer></footer>
  </body>
</html>
