<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>핸디</title>
	<link rel="stylesheet" href="../static/css/wordStyle.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/32afc995e9.js" crossorigin="anonymous"></script>
</head>
<body>
	<main>
		<section>
            <h2 class="ChapterTitle">과일/채소</h2>
            <div class="WordCount">
                <p class="CurrentCount">1</p>
                /
                <p class="AllCount">21</p>
            </div>
            <div class="StudySlider">
                <div class="StudyWrap">
                    <div class="StudyVideo">
                        <video class='Video' src=""></video>
                    </div>
                    <div class="StudyInfoWrap">
                        <div class="StudyWord">
                            <p>키위</p>
                        </div>
                        <img class="StudyImg" src="" alt="키위"/>
                    </div>
                </div>
                <div class="StudyWrap">
                    <div class="StudyVideo">
                        <video class="Video" src=""></video>
                    </div>
                    <div class="StudyInfoWrap">
                        <div class="StudyWord">
                            <p>참외</p>
                        </div>
                        <img class="StudyImg" src="" alt="참외"/>
                    </div>
                </div>
                <div class="StudyWrap">
                    <div class="StudyVideo">
                        <video class="Video" src=""></video>
                    </div>
                    <div class="StudyInfoWrap">
                        <div class="StudyWord">
                            <p>사과</p>
                        </div>
                        <img class="StudyImg" src="" alt="사과"/>
                    </div>
                </div>
            </div>

            <div class="BtnWrap">
                <button class="PrevBtn"></button>
                <button class="NextBtn"></button>
            </div>
            <div class="StopBtnBox">
                <button class="StopBtn">학습 종료</button>
            </div>
		</section>
	</main>
	<footer>
	</footer>
</body>
</html>