{% extends 'header.html' %}
{% load static %}
{% block content %}
{% comment %}
모든 강의들을 모아 볼 수 있는 페이지입니다.
{% endcomment %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/studyHome2.css' %}">
    <script src="https://kit.fontawesome.com/32afc995e9.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>
	<script src="{% static 'js/studyHome2.js' %}" defer></script>
</head>
<body style="overflow-x: hidden">
	<main>
		<section class="Sc1">
            <div class="gory">
				<div class="WhiteBox"></div>
                <div class="category"><i class="fas fa-bars"></i>&nbsp;&nbsp;&nbsp;&nbsp;카테고리</div>
                <input type="text" class="search" id="search" name="search" autocomplete="off" placeholder="검색어를 입력하시오.">
				<div class="SearchBtn"><i class="fas fa-search"></i></div>
            </div>
			<div class="list">
				<hr color="#fafafa">
				<a class="person" href="#"><i class="far fa-user"></i> &nbsp;인간</a>
				<br><hr color="#e1e1e1">
				<a class="eat" href="#"><i class="fas fa-utensils"></i> &nbsp;식생활</a>
				<br><hr color="#e1e1e1">
				<a class="society" href="#"><i class="fas fa-briefcase"></i> &nbsp;사회생활</a>
				<br><hr color="#e1e1e1">
				<a class="area" href="#"><i class="fas fa-map-marker-alt"></i> &nbsp;지명</a>
				<br><hr color="#e1e1e1">
				<a class="culture" href="#"><i class="fas fa-photo-video"></i> &nbsp;문화</a>
				<br><hr color="#e1e1e1">
				<a class="nature" href="#"><i class="fab fa-pagelines"></i> &nbsp;자연</a>
				<br><hr color="#e1e1e1">
				<a class="base" href="#"><i class="far fa-lightbulb"></i> &nbsp;개념</a>
				<hr color="#fafafa">
			</div>
		</section>

        <section class="Sc2">
            <div class="lecturesList">
               <div class="title" style="word-break:break-all">수어 왕초보</div>
               <div class="lectures">
                <!-- <div class="lecture">
                    <div class="difficulty">난이도 하</div>
                    <img class="lectureImg" src="{% static 'image/login/first.png' %}">
                    <div class="lectureName">lectureName</div>
                    <div class="lengthWithPercent">
                        <div class="maxLength">총 n개</div>
                        <div class="percent">n%</div>
                    </div>
                    <div class="processing">
                    </div> -->
                </div>
            </div>
        </div>
            <div class="lecturesList">
                <div class="title" style="word-break:break-all">일상 회화 모음</div>
                <div class="lectures">
                 <div class="lecture">
                    <div class="difficulty">난이도 하</div>
                    <img class="lectureImg" src="{% static 'image/login/first.png' %}">
                    <div class="lectureName">lectureName</div>
                    <div class="lengthWithPercent">
                        <div class="maxLength">총 n개</div>
                        <div class="percent">n%</div>
                    </div>
                    <div class="processing">
                 </div>
                </div>
             </div>
              
        </section>

        <script>
            const categoryBtn = document.querySelector('.category');
            const listContainer = document.querySelector('.list');

            categoryBtn.addEventListener('click', function() {
                if (listContainer.style.transform === 'translateY(233px)') {
                    listContainer.style.transform = 'translateY(0)';
                } else {
                    listContainer.style.transform = 'translateY(233px)';
                }
            });
        </script>
</body>
{% endblock %}