<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>핸디</title>
	<link rel="stylesheet" href="../static/css/situationStyle.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <script src="https://kit.fontawesome.com/32afc995e9.js" crossorigin="anonymous"></script>
</head>
<body>
	<header>
        <div class="Logo"></div>
		<nav>
			<ol>
				<li>홈</li>
				<li>번역하기</li>
				<li>학습하기</li>
				<li>게임하기</li>
				<li>Contact</li>
			</ol>
		</nav>
		<button class="SignUpBtn">SIGN UP</button>
	</header>
	<main>
		<section>
            <h2 class="ChapterTitle">수어로 친구 사귀기 - 첫만남 편</h2>
            <div class="StudyWrap">
                <div class="StudyVideo">
                    <p class="VideoTitle">수형 영상</p>
                    <div class="Video">
                        <video src=""></video>
                    </div>
                </div>
                <div class="StudyInfoWrap">
                    <div class="StudySentence">
                        <p class="SentenceTitle">일상 대화</p>
                        <div class="Sentence">
                            <p>안녕. 만나서 반가워.</p>
                        </div>
                    </div>
                    <div class="StudyInfo">
                        <p class="InfoTitle">수형 설명</p>
                        <div class="InfoBox">
                            <p class="InfoWord">안녕</p>
                            <p class="InfoMeaning">두 주먹을 쥐고 바닥이 아래로 향하게 하여 가슴 앞에서 아래로 내린다.</p>
                        </div>
                        <div class="InfoBox">
                            <p class="InfoWord">만나다</p>
                            <p class="InfoMeaning">두 주먹의 엄지를 펴서 마주 세웠다가 중앙으로 모아 마주 댄다.</p>
                        </div>
                        <div class="InfoBox">
                            <p class="InfoWord">반갑다</p>
                            <p class="InfoMeaning">두 손을 약간 구부려 손끝을 양쪽 가슴에 대고 상하로 엇갈리게 두 번 움직인다.</p>
                        </div>
                    </div>
                </div>
            </div>
            <button class="PracticeBtn">연습하기</button>
		</section>
	</main>
	<footer>
	</footer>
</body>
</html>