<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>핸디</title>
	<link rel="stylesheet" href="../static/css/signQuiz.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <script src="https://kit.fontawesome.com/32afc995e9.js" crossorigin="anonymous"></script>
</head>
<body>
	<header>
        <div class="Logo"></div>
		<nav>
			<ol>
				<li>홈</li>
				<li>번역하기</li>
				<li>학습하기</li>
				<li>게임하기</li>
				<li>Contact</li>
			</ol>
		</nav>
		<button class="SignUpBtn">SIGN UP</button>
	</header>
	<main>
		<section>
            <h2 class="ChapterTitle">기역(ㄱ)</h2>
            <div class="TestCount">
                <p class="CurrentCount">1</p>
                /
                <p class="AllCount">19<span>문제</span></p>
            </div>
            <div class="StageBarWrap">
                <div class="BackStageBar">
                    <div class="StageBar"></div>
                </div>
            </div>
            <div class="QuizWrap">
                <div class="SelectBox">
                    <input type="radio" id="select1" name="wordSelect">
                    <label for="select1"><img src=""/></label>
                    <input type="radio" id="select2" name="wordSelect">
                    <label for="select2"><img src=""/></label>
                    <input type="radio" id="select3" name="wordSelect">
                    <label for="select3"><img src=""/></label>
                    <input type="radio" id="select4" name="wordSelect">
                    <label for="select4"><img src=""/></label>
                    <input type="radio" id="select5" name="wordSelect">
                    <label for="select5"><img src=""/></label>
                    <input type="radio" id="select6" name="wordSelect">
                    <label for="select6"><img src=""/></label>
                </div>
            </div>
            <div class="StopBtnBox">
                <button class="StopBtn">그만 풀기</button>
            </div>
		</section>
	</main>
	<footer>
	</footer>
</body>
</html>