<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>핸디</title>
    <link rel="stylesheet" href="../static/css/situationQuiz.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <script src="https://kit.fontawesome.com/32afc995e9.js" crossorigin="anonymous"></script>
</head>
<body>
	<header>
        <div class="Logo"></div>
		<nav>
			<ol>
				<li>홈</li>
				<li>번역하기</li>
				<li>학습하기</li>
				<li>게임하기</li>
				<li>Contact</li>
			</ol>
		</nav>
		<button class="SignUpBtn">SIGN UP</button>
	</header>
	<main>
		<section>
            <h2 class="ChapterTitle">퀴즈 결과</h2>
            <div class="CharthWrap">
                <div class="ChartBar" data-percent="66%"></div>
                <p class="Percent">66%</p>
            </div>
            <div class="FailedWordBox">
                <h3>틀린 퀴즈 목록</h3>
                <div class="FailedWordWrap">
                    <div class="FailedWord">사과</div>
                    <div class="FailedWord">양파</div>
                    <div class="FailedWord">고구마</div>
                    <div class="FailedWord">수박</div>
                </div>
            </div>
            <div class="BtnWrap">
                <div class="HomtBtnBox">
                    <button class="HomeBtn">메인으로</button>
                </div>
                <button class="ReviewBtn">복습하기</button>
            </div>
		</section>
	</main>
	<footer>
	</footer>
</body>
</html>